BODY {
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	font-size: 100%;
	margin-left: 20%;
	margin-right: 20%;
	background-color: #F0EBD7;
	background-attachment : inherit;
} 

ORT{
  	margin-left: 40%; 
}